@font-face {
  font-family: "paintball";
  src: url('font/paintball_beta.otf');
}
@font-face {
  font-family: "mario";
  src: url('font/super_mario_256.ttf');
}

body {
	background: #CACACA;
	font-family: "paintball";
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}

h1{
	color :#00FF00;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: black;
	font-family :mario;
	font-size :80px;
}

h2{
	color :#00FF00;
	font-size :20px;
}

h3{
	color :#fbff00;
	font-size :30px;
}

h3 img{
  width : 30px;
  height : 30px;
}

#texte{
	color :orange;
	font-family :paintball;
	font-size :32px;
}

.texte{font-family:mario; color:green; text-align:right;}
.back{text-align:left; float:left; width:10%; 
  background-color: hsla(251, 100%, 50%, 0);}

.madiv1{
  width:90%;
  background-color:#FF000000;
  float: left;
}

.madiv2{
  clear;
  margin-top:0px;
  height:300px;
  width:100%;
  background-color:#00FF0000;
  float: left;
  text-align: center;
}

#select{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: hsla(64, 100%, 50%, 0);
  width:80%;
  text-align:center;
}

#music{
  float:left;
  background-color: hsla(64, 100%, 50%, 0);
  width:80%;
  text-align:center;
  margin-top:100px;
}

#staff-roll{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#end{
  margin-left: 20%;
  margin-right: 20%;
  text-align:left;
}

#a1{color:red}
#a2{color:orange}
#a3{color:yellow}
#a4{color:lightseagreen}
#a5{color:blue}
